*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

img{
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.container {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
	background-image: url(img/header-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.header-top {
	background: #2a86d2;
	text-align: right;
	color: #fff;
}

.header-top p, .header-top span {
	display: inline-block;
}

.header-contacts-list {
	list-style: none;
	text-align: right;
}

.header-contacts-list li {
	display: inline-block;
	margin-left: 30px;
}

.header-contacts-list li a {
	text-decoration: none;
	color: #000;
}

.header-contacts-list li a span {
	color: #8c9092;
}

.main-logo {
	width: 120px;
	height: 110px;
	display: inline-block;
}

.main-nav {
	text-align: right;
}

.main-nav-item {
	display: inline-block;
	padding: 0 7px;
}

.main-nav-link {
	text-decoration: none;
	color: #000;
	font-size: 16px;
}

.main-nav-link:hover {
	color: #2a86d2;
}

.promo {
	background-image: url(img/promo-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.promo-item {
	display: inline-block;
	width: 24%;
	
    vertical-align: top;
    min-height: 320px;

    text-decoration: none;
    color: #000;
    padding: 0 30px;
    padding-bottom: 70px;
}

.promo-item:hover {
	background-color: rgba(255,255,255,0.8);
	background-size: 100%;

}

.promo-img-box {
	text-align: center;
	overflow: hidden;
}

.promo-img-box img {
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent
}

.promo-item-title {
	text-align: center;
	font-size: 24px;
	line-height: 32px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.promo-item-txt {
	font-size: 14px;
	line-height: 24px;
}

.promo-slider {
	background-image: url(img/mountain.png);
	backgroud-size: cover;
	background-repeat: no-repeat;

	padding: 40px 0;
	color: #fff;
}

.slider-inner {
	margin: 0 auto;
	width: 860px;
}

.promo-slider-title {
	font-size: 36px;
	text-transform: uppercase;
	padding-left: 100px;
	margin-bottom: 25px;
}

.promo-slider-txt {
	font-size: 14px;
	line-height: 24px;
	padding-left: 100px;
	margin-bottom: 25px;

}

.tags {
	list-style: none;
	text-align: right;
	padding-top: 50px;
	padding-bottom: 20px;
	border-bottom: 2px solid #2a86d2;
	margin-bottom: 55px;
}

.tags li {
	display: inline-block;
	padding: 0 25px;

}

.tags li a {
	text-decoration: none;
	color: #2a86d2;
}

.news {
	padding-bottom: 40px;
}

.news-aside {
	width: 20%;
	float: left;
	margin-right: 5%;
}

.news-aside-title {
	font-size: 20px;
	padding-bottom: 20px;
	border-bottom: 5px solid #f2f2f2;
	margin-bottom: 30px;
}

.news-main {
	float: left;
	width: 75%;
}

.news-box {
	margin-bottom: 30px;
}

.news-box a {
	display: block;
	text-decoration: none;
}

.news-box a:focus {
	text-decoration: none;
	color: #000;
}

.news-data {
	display: inline-block;
	padding: 8px 10px;
	margin-bottom: 10px;
	background-color: #f2f2f2;
	font-size: 14px;
	line-height: 19px;
}

.news-txt {
	color: #2a86d2;
	font-size: 14px;
	line-height: 24px;
}

.news-box--main {
	margin-bottom: 40px;
}

.news-title--main {
	font-size: 36px;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.news-data--main, .news-txt--main {
	display: inline-block;
}

.news-data--main {
	display: inline-block;
	padding: 8px 10px;
	margin-right: 17px;
	background-color: #f2f2f2;
	font-size: 14px;
	line-height: 19px;
}

.news-txt--main {
	display: inline-block;
	font-size: 24px;
	line-height: 32px;
}

.news-full-img-box {
	float: left;
	margin-right: 20px;
	margin-bottom: 15px;
	width: 378px;
	height: 224px;
}

.news-full-txt {
	font-size: 14px;
	line-height: 24px;
}

.news-full-more {
	text-align: right;
	margin-top: 55px;
}

.news-full-more a {
	text-decoration: none;
	color: #2a86d2;
}

.review {
	background-color: #2a86d2;
	padding-top: 55px;
	padding-bottom: 90px;
}

.review-item {
	display: inline-block;
	padding: 0 70px;
	width: 45%;
	color: #fff;

    vertical-align: baseline;
	
}

.review-item blockquote {
	font-size: 16px;
	line-height: 24px;
}

.review-item-more {
	margin-top: 35px;
	text-align: center;
}

.review-item-more a {
	color: #fff;
	text-decoration: none;
}

.review cite {
	font-weight: 700;
}

.review-item-img-box {
	width: 120px;
	height: 123px;
	margin: 0 auto;
	margin-bottom: 25px;
	overflow: hidden;
}

.review-item--delivery {
	font-size: 18px;
	line-height: 24px;
}

.client {
	padding-top: 45px;
	padding-bottom: 50px;
}

.client-item {
	display: inline-block;
	width: 140px;
	height: 45px;
	vertical-align: baseline;
}

.btn  {
	border: 2px solid #2a86d2;
	text-decoration: none;
	color: #2a86d2;
	padding: 15px 85px;
}

.footer {
	background-color: #454b4e;
	color: #fff;
}

.address {
	display: inline-block;
}
.contacts {
	text-align: right;
}
.contacts li{
	display: inline-block;
	margin-left: 35px;
}

.contacts li a {
	font-size: 16px;
	text-decoration: none;
	color: #fff;
}

.socials ul li {
	text-align: right;
}

.footer-main-col ul {
	list-style: none;
	display: inline-block;
}





