*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

img{
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.container {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.header {
	background-image: url(img/header-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.header-top {
	background: #2a86d2;
	text-align: right;
	color: #fff;
	padding: 15px 0;
}

.header-top-contact {
	position: relative;
	text-decoration: none;
	color: #fff;
}

.header-top-contact:before {
	position: absolute;
	display: inline-block;
	content: '';


	background-image: url(img/marker.png);
	background-size: 100%;
	background-repeat: no-repeat;

	width: 20px;
	height: 25px;

	top: 1px;
	left: -25px;
}

.lang {
	position: relative;
	display: inline-block;
	margin-left: 80px;
	padding-right: 15px;
	text-decoration: none;
	color: #fff;
}

.lang:after {
	position: absolute;
	content: '';
	display: inline-block;

	width: 6px;
	height: 6px;

	top: 6px;
	right: 0;

	transform: rotate(45deg);
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
}

.header-top-contactheader-top-contact {
	display: inline-block;
	margin-left: 60px;
}

.header-top-img-box {
	position: relative;
	display: inline-block;
	width: 25px;
	height: 20px;
	margin-left: 60px;
	padding-top: 2px;
}

.header-top-img-box:after {
	position: absolute;
	content: '';
	display: inline-block;

	width: 6px;
	height: 6px;

	top: 6px;
	right: -17px;

	transform: rotate(45deg);
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
}

.header-top-img-box img{
	width: 72%;
	height: 83%;
}

.header-main {
	padding-top: 30px;
}

.header-contacts-list {
	list-style: none;
	float: right;
	text-align: right;
}

.header-contacts-list li {
	display: inline-block;
	margin-left: 30px;
	vertical-align: top;
}

.header-contacts-list li a {
	text-decoration: none;
	color: #000;
}

.header-contacts-list span {
	display: block;
	font-size: 13px;
	color: #8c9092;
}

.main-logo {
	width: 111px;
	height: 120px;
	display: inline-block;
	float: left;
	text-align: left;
}

.main-nav {
	float: right;
	text-align: right;
	width: 85%;
	display: inline-block;
	margin-top: 44px;
	margin-bottom: 30px;
}

.main-nav-item {
	display: inline-block;
	padding: 0 7px;
}

.main-nav-link {
	text-decoration: none;
	color: #000;
	font-size: 16px;
}

.main-nav-link:hover {
	color: #2a86d2;
}

.promo {
	background-image: url(img/promo-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.promo-item {
	display: inline-block;
	width: 24%;
	
    vertical-align: top;
    min-height: 450px;

    text-decoration: none;
    color: #000;
    padding: 50px 30px;
    // padding-bottom: 70px;
}

.promo-item:hover {
	background-color: rgba(255,255,255,0.4);
	background-size: 100%;

}

.promo-img-box {
	text-align: center;
	overflow: hidden;
	display: flex;
	justify-content: center;
	height: 130px;
}


.promo-item-title {
	text-align: center;
	font-size: 24px;
	line-height: 32px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.promo-item-txt {
	font-size: 14px;
	line-height: 24px;
}

.promo-slider {
	position: relative;

	background-image: url(img/slider-bg.jpg);
	backgroud-size: cover;
	background-repeat: no-repeat;

	padding: 40px 0;
	color: #fff;
}

.promo-slider:before {
	position: absolute;
	display: inline-block;
	content: '';

	width: 20px;
	height: 60px;

	top: 30%;
	left: 180px;


	background-image: url(img/slider-prev.png);
	backgroud-size: 100%;
	background-repeat: no-repeat;
}

.promo-slider:after {
	position: absolute;
	display: inline-block;
	content: '';

	width: 20px;
	height: 60px;

	top: 30%;
	right: 180px;


	background-image: url(img/slider-next.png);
	backgroud-size: 100%;
	background-repeat: no-repeat;	
}

.slider-inner {
	position: relative;
	margin: 0 auto;
	width: 860px;
}

.slider-inner:before {
	position: absolute;
	display: inline-block;
	content: '';

	width: 185px;
	height: 200px;

	left: 10px;

	background-image: url(img/slider-icon.png);
	backgroud-size: 100%;
	background-repeat: no-repeat;
}

.promo-slider-title {
	font-size: 36px;
	text-transform: uppercase;
	padding-left: 240px;
	margin-bottom: 25px;
}

.promo-slider-txt {
	font-size: 14px;
	line-height: 24px;
	padding-left: 240px;
	margin-bottom: 25px;

}

.tags {
	list-style: none;
	text-align: right;
	padding-top: 50px;
	padding-bottom: 20px;
	border-bottom: 2px solid #2a86d2;
	margin-left: 310px;
	margin-bottom: 55px;
}

.tags li {
	display: inline-block;
	padding-right: 50px;
}

.tags li:last-child {
	padding-right: 0;
}

.tags li a {
	text-decoration: none;
	color: #2a86d2;
}

.news {
	padding-bottom: 40px;
}

.news-aside {
	width: 20%;
	float: left;
	margin-right: 5%;
}

.news-aside-title {
	font-size: 20px;
	padding-bottom: 20px;
	border-bottom: 5px solid #f2f2f2;
	margin-bottom: 30px;
}

.news-main {
	float: left;
	width: 75%;
}

.news-box {
	margin-bottom: 30px;
}

.news-box a {
	display: block;
	text-decoration: none;
}

.news-box a:focus {
	text-decoration: none;
	color: #000;
}

.news-data {
	display: inline-block;
	padding: 8px 10px;
	margin-bottom: 10px;
	background-color: #f2f2f2;
	font-size: 14px;
	line-height: 19px;
}

.news-txt {
	color: #2a86d2;
	font-size: 14px;
	line-height: 24px;
}

.news-box--main {
	margin-bottom: 40px;
}

.news-title--main {
	font-size: 36px;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.news-data--main, .news-txt--main {
	display: inline-block;
}

.news-data--main {
	display: inline-block;
	vertical-align: top;
	padding: 8px 10px;
	margin-right: 17px;
	background-color: #f2f2f2;
	font-size: 14px;
	line-height: 19px;
}

.news-txt--main {
	display: inline-block;
	width: 90%;

	font-size: 24px;
	line-height: 32px;
}

.news-full-img-box {
	float: left;
	margin-right: 20px;
	margin-bottom: 15px;
	width: 378px;
	height: 224px;
}

.news-full-title {
	font-size: 14px;
	line-height: 24px;
}

.news-full-txt {
	font-size: 14px;
	line-height: 24px;
}

.news-full-more {
	text-align: right;
	margin-top: 55px;
}

.news-full-more a {
	text-decoration: none;
	color: #2a86d2;
	position: relative;
}

.news-full-more a:after {
	position: absolute;
	content: '';

	top: 6px;
	right: -18px;

	border: 6px solid transparent;	
	border-left: 6px solid #2a86d2;
}

.review {
	background-color: #2a86d2;
	padding-top: 55px;
	padding-bottom: 90px;
}

.review-item {
	position: relative;
	display: inline-block;
	padding: 0 70px;
	width: 45%;
	color: #fff;
	min-height: 270px;

    // vertical-align: baseline;
}

.review-item:before {
	position: absolute;
	display: inline-block;
	content: '';

	width: 20px;
	height: 60px;

	top: 45%;
	left: 20px;


	background-image: url(img/slider-prev.png);
	backgroud-size: 100%;
	background-repeat: no-repeat;
}

.review-item:after {
	position: absolute;
	display: inline-block;
	content: '';

	width: 20px;
	height: 60px;

	top: 45%;
	right: 20px;


	background-image: url(img/slider-next.png);
	backgroud-size: 100%;
	background-repeat: no-repeat;
}

.review-item-more {
	margin-top: 35px;
	text-align: center;
}

.review-item-more a {
	position: relative;
	color: #fff;
	text-decoration: none;
}


.review-item-more a:after {
	position: absolute;
	content: '';
	// display: inline-block;

	top: 6px;
	right: -18px;

	border: 6px solid transparent;	
	border-left: 6px solid #fff;

}

.review-name {
	font-weight: 700;
	margin-bottom: 35px;
	line-height: 24px;
}

.review-txt {
	font-size: 14px;
	line-height: 24px;
}

.review-item-img-box {
	width: 120px;
	height: 123px;
	margin: 0 auto;
	margin-bottom: 25px;
	overflow: hidden;
}

.review-item--delivery {
	font-size: 23px;
	line-height: 1.4em;
}

.review-item--delivery span {
	font-weight: 700;
}

.client {
	padding-top: 45px;
	padding-bottom: 50px;
}

.client-item {
	display: inline-block;
	width: 13%;
	margin-right: 1%;
	// height: 45px;
	vertical-align: middle;
}

.btn  {
	outline: 3px solid #2a86d2;
	text-decoration: none;
	color: #2a86d2;
	font-size: 16px;
	padding: 11px 85px;
}

.footer {
	background-color: #454b4e;
	color: #fff;
}

.footer-left {
	float: left;
	width: 45%;
	margin-right: 5%;
}

.address {
	display: inline-block;
}

.footer-top {
	padding-top: 50px;
	padding-bottom: 50px;
	overflow: hidden;
	border-bottom: 2px solid #8c9092;
}

.footer-top-txt {
	color: #8c9092;
	font-size: 12px;
	line-height: 24px;
	margin-bottom: 40px;
}

.copyright {
	font-size: 12px;
	line-height: 24px;
}

.footer {
	padding-bottom: 75px;
}

.footer-right {
	float: right;
	text-align: right;
	width: 50%;
}

.footer-contacts {
	text-align: right;
}

.footer-contacts li{
	display: inline-block;
	vertical-align: top;
	margin-left: 35px;
}

.footer-contacts li a {
	font-size: 16px;
	text-decoration: none;
	color: #fff;
}

.footer-contacts span {
	display: block;
	font-size: 13px;
	color: #8c9092;
}

.footer-socials {
	margin-top: 80px;
}

.footer-socials ul {
	list-style: none;
	text-align: right;
}

.footer-socials ul li {
	display: inline-block;
	margin-left: 10px;
}

.footer-main {
	margin-top: 28px;
	display: flex;
	justify-content: space-between;
}

.footer-main-col {
	display: inline-block;
	vertical-align: top;
	width: 11%;
	margin-right: 3%;
	word-wrap: break-word;
}

.big {
	margin-right: 7%;
}

.empty {
	width: 5%;
}

.footer-main-col:last-child {
	margin-right: 0;
}

.footer-main-col h4 {
	font-size: 16px;
	margin-bottom: 25px;
}

.footer-main-col ul {
	list-style: none;
	display: inline-block;
}

.footer-main-col ul li {
	margin-bottom: 15px;
}

.footer-main-col ul li a{
	text-decoration: none;
	color: #8c9092;
	font-size: 12px;
	line-height: 16px;
}





